<div style="position:relative; top:15px;">
	<h1>Get Food</h1>
	<span style="position:relative; bottom:10px;">To get food, check out some of the upcoming events! </span>
	<p>(1-<%= @events.length %>) of <%= @events.length %><!--<a href="#" style="padding-left:15px;">Local</a> | <a href="#">All</a>--></p>
</div>
<br>

<% (@events.length-1).downto(0) do |i|%>
	<%if (i==@events.length-1 || @events[i].dayofweek!=@events[i+1].dayofweek || @events[i].month!=@events[i+1].month || @events[i].day!=@events[i+1].day) %>
		<hr><center><h4><%= @events[i].dayofweek %>, <%= @events[i].month%> <%= @events[i].day%> </h4></center></br>
	<% end %>

	<div class="container">
		<div class="thumbnail col-md-2" >
		<%= image_tag @events[i].photo1.url%>
		</div>
		<div class="col-md-6">
			<p>
				<!--<a href="/donations/donationposts/' + data.id + '" class="link"><u style="font-size:22px;">La Framosco French Cuisine</u></a>-->
				<%= link_to 'La Framosco French Cuisine', :controller => "events", :action => "show", :id => @events[i].id%>
				<span class="pull-right" style="padding-left:10px;">
					<%= link_to 'Edit ', :controller => "events", :action => "edit", :id => @events[i].id%>|
					<%= link_to ' Delete', {:controller => "events", :action => "destroy", :id => @events[i].id}, confirm: "Are you sure?", 
					method: :delete %>
				</span>
				<br>
				634 Curry St. San Fransisco, CA 94123</br>
				Tel: 415-123-3334 <span style="padding-left:10px;">Email: info@laframosco.com</span></br>

				<p><b><%= @events[i].title %></b><br>
					<%= truncate(@events[i].message, 200) %> <!-- truncate is a function defined in application_helper.rb-->
				</p>
			</p>
		</div>
	</div></br>


<% end %>

<!-- pagination
	===============================================================-->

<div class="text-center">
	<ul class="pagination">
	  <li class="disabled"><a href="#">&laquo;</a></li>
	  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
	  <li class=""><a href="#">2 </a></li>
	  <li class=""><a href="#">3 </a></li>
	  <li class=""><a href="#">&raquo;</a></li>
	</ul>
</div>
