<div style="position:relative; top:15px;">
	<h1>Event Posting</h1></br>
</div>
<hr><center><h4><%= @event.dayofweek %>, <%= @event.month%> <%= @event.day%> </h4></center></br>
<div class="container">
	<div class="col-md-4">
		<div class="" style="position:relative; left:50px;">
		<% if @event.photo1_file_name %>
			<%= image_tag @event.photo1.url, height: '200', width: '250'%>
		<% end %>
		</div>
	</div>

	<div class="col-md-5">
		<p>
			<span><u style="font-size:22px;"><%= User.find(@event.user_id).name%></u></span> <!--(9am to 6pm) -->
			<span class="pull-right" style="padding-top:10px;">
				<% if current_user %>
					<% if @event.user_id == current_user.id%>
						<%= link_to 'Edit ', :controller => "events", :action => "edit", :id => @event.id%>|
						<%= link_to ' Delete', {:controller => "events", :action => "destroy", :id => @event.id}, confirm: "Are you sure?", 
							method: :delete %>
					<% end %>
				<%end%>
			</span>
			<br>
			<%= User.find(@event.user_id).address%></br>
			Tel: <%= User.find(@event.user_id).contact_number%> <span style="padding-left:10px; ">Email: <%= User.find(@event.user_id).email%></span></br></br> 
			<p><b><%= @event.title %></b><br>
				<%= @event.message %> <!-- truncate is a function defined in application_helper.rb-->
			</p>
		</p>
	</div>
</div>