<div style="position:relative; left:17px;"><h1>Donate Food</h1></div>
<div class= "col-md-3" style="position:relative; top:48px;">
    <h3>Current Info:</h3>
    <%= User.find(current_user.id).name %><br>
    <%= User.find(current_user.id).address %><br>
    <%= User.find(current_user.id).contact_number %><br>
    <%= User.find(current_user.id).email %><br>
</div>
<div class="col-md-7" style="">
	<!--<form action="pages/confirmation" method="post">-->
		<div class="">
			<div class="row" style="margin-top:40px;">
	            <div class="well well-sm">				
                    <div class="row" id="post-review-box" >
                        <div class="col-md-12">			
                            <h3>Your Donation</h3>										

                            <!--<% flash.each do |key, value|%> <!-- this is how to dispplay flash msgs?. -->
                                <!--<p><font color="red"><%= value %></font></p>
                            <% end %>-->

                                                        <!--<%= params.inspect%>-->
                            <%= form_tag '/donations/create', :multipart => true do%> <!--need multipart to be able to submit files as part of a post-->
                                
                                <%= hidden_field_tag 'month', @month%>
                                <%= hidden_field_tag 'day', @day%>
                                <%= hidden_field_tag 'dayofweek', @dayofweek%>
                                <%= hidden_field_tag 'userid', current_user.id %>

                                <p>
                                    <%= text_field_tag 'title', nil, class: 'form-control title', placeholder: "Title (for example: \"200 pounds of bacon\")" %>
                                </p>
                                <p>
                                    <%= text_area_tag 'message', nil, class: "form-control message", placeholder: "Message (a description of food/ any special instructions)...", rows: "5"%>
                                </p>
                                <p>
                                    <%= file_field_tag :photo1, class: "photo1"%>
                                </p>
                                <br>

                                <a href="#" class="btn btn-warning btn-lg inline clear" name="Cancel">Clear Form</a>
                                <%= submit_tag "Post Donation", class: "btn btn-success btn-lg pull-right"%>                                
                            <% end %>

                        </div>
                    </div>
            	</div> 
			</div>
		</div>
	<!--</form>-->
</div>

