<div style="position:relative; top:15px;">
	<h1>Donation Posting</h1></br>
</div>
<hr><center><h4><%= @donation.dayofweek %>, <%= @donation.month%> <%= @donation.day%> </h4></center></br>
<div class="container">
	<div class="col-md-4">
		<div class="" style="position:relative; left:50px;">
		<% if @donation.photo1_file_name %>
			<%= image_tag @donation.photo1.url, height: '200', width: '250'%>
		<% else %>
			<%= image_tag "/assets/noimage4.png", height: '200', width: '250'%>
		<% end %>
		</div>
	</div>

	<div class="col-md-5">
		<p>
			<span><u style="font-size:22px;"><%= User.find(@donation.user_id).name%></u></span> <!--(9am to 6pm) -->
			<span class="pull-right" style="padding-top:10px;">
				<% if current_user %>
					<% if @donation.user_id == current_user.id%>
						<%= link_to 'Edit ', :controller => "donations", :action => "edit", :id => @donation.id%>|
						<%= link_to ' Delete', {:controller => "donations", :action => "destroy", :id => @donation.id}, confirm: "Are you sure?", 
							method: :delete %>
					<% end %>
				<% end%>
			</span><br>
			<%= User.find(@donation.user_id).address%></br>
			Tel: <%= User.find(@donation.user_id).contact_number%> <span style="padding-left:10px; ">Email: <%= User.find(@donation.user_id).email%></span></br></br> 
			<p><b><%= @donation.title %></b><br>
				<%= @donation.message %>
			</p>
		</p>
	</div>
</div>

