<!DOCTYPE html>
<html>
<head>
  <title>CSC667Groupproject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Nav Bar
===============================================================-->

<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/pages/home">FeedHungry</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/pages/home">Home</a></li>
	      <li><a href="/events/eventslist">Get Food</a></li>
	      <li class="dropdown">
	        <a href="#" id="howtohelp" class="dropdown-toggle" data-toggle="dropdown">How to Help <b class="caret"></b></a>
	        <ul class="dropdown-menu" role="menu">
	          <li><a href="/donations/new">Donate Food</a></li>
	          <li><a href="/donations/donationlist">List of Donations</a></li>
	          <li><a href="/events/new">Post an Event</a></li>
	        </ul>
	      </li>
	      <li><a href="/pages/aboutus">About Us</a></li>
	    </ul>
<!--
		<%= form_tag "/events/eventslist", :method => 'get' do -%>
			<% content_tag(:div, content_tag(:input, id: "search", type: "text", class: "form-control", placeholder: "Search Events..."), class: "form-group")%>
			<% content_tag(:button, id: "search_button", type: "submit", class: "btn btn-default", text: "Search")%>
		<%end -%>
		-->
	    <form action="/events/eventslist" method="get" class="navbar-form navbar-left" role="search">
	      <div class="form-group">
	        <input id="search" type="text" class="form-control" placeholder="Search Events...">
	      </div>

	      <button id="search_button" type="submit" class="btn btn-default">Search</button>
	    </form>

	    <div class="nav navbar-nav navbar-left">
	      <% if user_signed_in? %>
	    	<%= link_to "Edit Profile", edit_user_registration_path, :method => :get, :class => "btn btn-info", :style => "position:relative; top:7px;"%>
	    	<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-success", :style => "position:relative; top:7px;"%>
	    	<% else %>
	      <a href="/users/sign_up" class="btn btn-info" style="position:relative; top:7px;">Sign Up!</a>
	      <a href="/users/sign_in" class="btn btn-success" style="position:relative; top:7px;">Login</a>
	    	<% end %>
	    </div>
	  </div><!-- /.navbar-collapse -->
	</div>
</nav>


<div id="content" class="container realign">
<p class="notice"><%= flash.now[:notice] %></p>
<p class="alert"><%= flash.now[:alert] %></p>

<%= yield %>

</div>



<!-- Footer
	===============================================================-->

<hr>
<center>
	<p>SFSU CSC 667 Student Project made by:</br>
		<b>Suchi Vora</b>, <b>Pavitra Kansara</b>, <b>Joe Robinson</b> and <b>Marco Chin</b></p>
</center>

<script>
$(document).ready(function() {

	$('.navbar .dropdown').hover(function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
});

$('.clear').on("click", function(e) { 
		$('.title').val("");
		$('.message').val("");
		$('.photo1').val("");
	});
</script>


</body>
</html>
